html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* gap between sketch box and right side div */
    gap: 5em;
    /* gradient background */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(0,212,255,1) 100%);
}
.page-title {
    margin: 0 auto;
    color: blanchedalmond;
    font-size: 50px;
}
.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3em;
}

div {
    margin: 0;
    padding: 0;
}
.container {
    width: 70vh;
    height: 70vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 20px rgb(26, 23, 23) solid;
    border-radius: 20px;
    background-color: white;
}

.row{
    flex: auto;
    display: flex;
}
.boxContainer{
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}


.cube {
   flex:1 1 35px; 
    border: 1px rgb(221, 221, 221) solid;
}
.menuDiv {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1em;
}
.upperMenuDiv{
    display: flex;
    gap: 1em;
}
#checkbox{
    align-self: center;
}
.labelText {
    font-size: 20px;
    color: blanchedalmond;
}

.resetButton {
    border-style: none;
    border-radius: 20px;
   font-size: 20px; 
   background-color: black;
   color: blanchedalmond;
   text-transform: uppercase;
}
