html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

div {
    margin: 0;
    padding: 0;
}
.container {
    width: 70vh;
    height: 70vh;
    padding: 5px;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.row{
    flex: auto;
    display: flex;
}
.boxContainer{
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}


.cube {
   flex:1 1 35px; 
    border: 1px black solid;
}

